<!DOCTYPE html>
<html>
    <head>
        <title>My Library</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"  crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            Serving Up HTML..!
        </div>
        <script src="/js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="/js/popper.min.js" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>